.crud-heading {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: capitalize;
  background-color: gold;
  padding: 12px 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(1, 1, 1, 0.6);
  border-left: 6px solid #0d6efd;
}
