<div class="container">
    <div class="row">
        <div class="col-md-8 list-item">
            <ul class="list-group" *ngIf="data.length>0; else noBookName">

                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let book of data; trackBy :trackById">
                    <strong>
                        {{book.bname}}
                    </strong>
                    <div>
                        <button (click)="onEditBook(book)" mat-mini-fab color="primary" class="mr-2">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-mini-fab color="warn" (click)="onRemoveBook(book.id)">
                            <mat-icon>delete</mat-icon>
                        </button>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #noBookName>
    <p class="alert alert-info p-2">No Books Available !!!</p>
</ng-template>